
// MAX
@mixin max-xs {
  @media (max-width: #{$SM - 1px}) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: #{$MD - 1px}) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: #{$LG - 1px}) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: #{$XL - 1px}) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: #{$XXL - 1px}) {
    @content;
  }
}
@mixin max-xxl {
  @media (max-width: #{$XXXL - 1px}) {
    @content;
  }
}

// MIN

@mixin min-sm {
  @media (min-width: #{$SM}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{$MD}) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: #{$LG}) {
    @content;
  }
}

@mixin min-xl {
  @media (min-width: #{$XL}) {
    @content;
  }
}

@mixin min-xxl {
  @media (min-width: #{$XXL}) {
    @content;
  }
}
@mixin min-xxxl {
  @media (min-width: #{$XXXL}) {
    @content;
  }
}

// ONLY

@mixin only-sm {
  @media (min-width: #{$SM - 1px}) and (max-width: #{$MD - 1px}) {
    @content;
  }
}

@mixin only-md {
  @media (min-width: #{$MD - 1px}) and (max-width: #{$LG - 1px}) {
    @content;
  }
}

@mixin only-lg {
  @media (min-width: #{$LG - 1px}) and (max-width: #{$XL - 1px}) {
    @content;
  }
}

@mixin only-xl {
  @media (min-width: #{$XL - 1px}) and (max-width: #{$XXL - 1px}) {
    @content;
  }
}